.header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    background-color: black;
    color: #bdb7b7;
    padding: 10px 0;
    .header__menu{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        div{
            width: 25%;
            text-align: center;
        }
        div:hover{
            color:white;
        }
    }
    .header__action{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        div:hover{
            color:white
        }
    }
    .header__logo{
        cursor: pointer;
    }
}